html,
body {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
    overscroll-behavior: none;
    touch-action: none;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    height: 100%;
}

html,
* {
    box-sizing: border-box;
}
