/* Containers */
div.pad-large {
    padding: 24px;
}

div.pad-medium {
    padding: 18px;
}

div.pad-small {
    padding: 15px;
}

div.gap-large {
    gap: 18px;
}

div.gap-medium {
    gap: 13px;
}

div.gap-small {
    gap: 8px;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.flex-column {
    display: flex;
    flex-direction: column;
}

/* Typography */

.large-text {
    color: #000;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
}

.medium-text {
    color: #000;
    font-size: 17px;
    font-family: Roboto;
}

.small-text {
    color: #000;
    font-size: 14px;
    font-family: Roboto;
}

.rounded {
    border-radius: 5px;
}

/* Weight */
.bold {
    font-family: Roboto-Medium;
}

.extra-bold {
    font-family: Roboto-Bold;
}

/* Background Color */
.yellow-background {
    background-color: #FFF1D7;
}

.lightblue-background {
    background-color: #EEF3F8;
}